<div class="container-own bg-setting style style4">
  <div class="content opaque-bg">
    <h2 class="centered-text">Valpuri who?</h2>
    <p class="centered-text">
      Hey! I am Valpuri, a one year old dachshund.
    </p>
    <p class="centered-text">
      I have a killer instict for style and awesome design. That's why I decided to found a print shop of my own.
      If you can make awesome prints, then why wouldn't you make even more awesome clothing with the awesome design!<br>
    </p>
    <h2 class="centered-text">Prints and apparel?</h2>
    <p class="centered-text">
      Well yes. We produce all kind of sizes of high quality prints and apparel from t-shirts to hoodies and bags.
    </p>
    <h2 class="centered-text">What is this awesomeness?</h2>
    <p class="centered-text">
      Our items are made with love and care by the most amazing underground designers!
    </p>
    <h2 class="centered-text">About the website</h2>
    <p class="centered-text">
      Obviously this e-commerce application is not a real webshop. It was made as an exercise for a Career Foundry Web Developer course.
      All graphics on this website
      except sellable items are from: <a href="http://www.gratisography.com/">Gratisography</a>.
    </p>
    <p class="centered-text">
      Big thanks to that awesome stock photo site!
      All sellable items are copyrighted to Valpuris.
    </p>
  </div><!--end content-->
</div><!--end container-->
