<div class="container-own bg-setting style style4">
  <div class="content opaque-bg">
    <h2 class="centered-text">
      <strong>
        What is Valpuri's?
      </strong>
    </h2>
    <p>
      Valpuri's is a small boutique intended to spread the joy of fun and quirky designs all over the world.
      We try to find the coolest and prettiest images from aspiring young artists. These designs
      are then printed on paper or fabric to produce the best quality items for everyone who loves
      great artwork.
    </p>
    <p>
      Our artists have killer eye for style and awesome design. That's why we're decided to found a print shop of our own.
      If you can make awesome prints, then why wouldn't you make even more awesome clothing with the awesome design! Our mission
      is to bring artwork to people's lives in an easy yet affordable way.<br>
    </p>
    <h2 class="centered-text">
      <strong>Prints and apparel?
      </strong>
    </h2>
    <p>
      We print our designs on high quality paper of various qualities. You can order postcards,leaflets,
      small  or big eye catching sized posters.
    </p>
    <p>
      We also offer clothing from t-shirts, dresses, hoodies to beanies and bags.
    </p>
    <h2 class="centered-text">
      <strong>
        What is this awesomeness?
      </strong>
    </h2>
    <p>
      Our items are made with love and care by the most amazing underground designers! Our
      manufacturers are local and use environment friendly materials and techniques.
    </p>
    <h2 class="centered-text">
      <strong>
        About the website
      </strong>
    </h2>
    <p>
      Obviously this e-commerce application is not a real webshop. It is a portfolio project and was made as an exercise for a Career Foundry Web Developer course.
      All graphics on this website except sellable items are from: <a href="http://www.gratisography.com/">Gratisography</a>.
    </p>
    <p>
      Big thanks to that awesome stock photo site! All sellable item pictures are copyrighted by Valpuri's.
    </p>
  </div><!--end content-->
</div><!--end container-->
