
<div class="container-own bg-setting style style2">
  <div class="content opaque-bg shadow">
    <h2 class="centered-text">Valpuri's Print Shop</h2>
    <p class="centered-text">
      Hi there! Welcome to Valpuri's Print Shop! Here you will find some very awesome designs in various prints and
      apparel types including posters, postcards, t-shirt, hoodies, skirts, trousers and what not? Please dive in deeper and enjoy...
    </p>
    <p class="centered-text">
      Best wishes, Valpuri
    </p>
      <%= image_tag("shop-logo.png", alt: "shop-logo", class: "responsive-img-50 centered-item") %>
    </div><!--end content-->
</div><!--end container-->
