<div class="container-own bg-setting style style7">
  <div class="content opaque-bg">
    <div class="panel-body">
      <h2 class="centered-text">Thank you!</h2>
      <p class="centered-text">We have received your message and will respond as soon as possible.</p>
    </div><!-- / panel-body -->
  </div><!-- / panel -->
</div><!--end container-->
