<table>
  <tbody>
    <tr>
      <td>
        <h1>Thank you for your purchase!</h1>
      </td>
    </tr>
    <tr>
      <td>
        <p><%= @user.first_name %>, your order for <%= @product.name %> was successful.</p> 
      </td>
    </tr>
    <tr>
      <td>
        <p>You will receive a separate receipt when the payment has been registered and handled by our staff.</p>
      </td>
    <tr>
    <tr>
      <td>
        <p>
          Best Regards, Valpuri's
        </p>
      </td>
    </tr>
  </tbody>
</table>
