<div class="container-own bg-setting style style6">
  <div class="content-single-product opaque-bg shadow">
    <h2 class="centered-text">Thank you for your purchase!</h2>
    <p class="centered-text">Your product will be shipped in two weeks.</p>
    <p class="centered-text"><%= link_to 'Products', products_path%></p>
  </div><!--end content-->
</div><!--end container-->
