<div class="container-own bg-setting style style6">
  <div class="content-single-product opaque-bg shadow">
    <p>Thank you for your purchase! Your product will be shipped in two weeks.</p>
    <p><%= link_to 'Products', products_path%></p>
  </div><!--end content-->
</div><!--end container-->
