// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product-card {
  width: 22%;
  margin: 1%;
  display: inline-block;
  padding-top: 10px;
  background-color: white;
  p {
    margin: 0;
    padding-top: 0;
  }
}
.product {
  margin: 0;
  padding: 0;
}

.product-p {
  font-size: 1em;
}

.producth1 {
  color: black;
}
.style5, .style6 {
	background-image: image-url('353H.jpg');
}

.style7 {
	background-image: image-url('366H.jpg');
}
.thumbnail {
  width: 100%;
  img {
      // your styles for the image
      width: 100%;
      height: auto;
      display: block;
  }
  h2 {
    text-align: center;
    font-size: 1.2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.content-single-product {
  width: 60%;
  margin: 0 auto;
  padding: 10px;
}

table {
  margin-bottom: 40px;
  td {
    vertical-align: top;
    text-align: left;
  }
}

.single-product-image {
  padding: 10px;
}

.text-col {
  margin-left: 10px;
}

h1 {
  color: black;
}
@media only screen and (max-width: 800px) {
  .product-card {
    display: block;
    width: 100%;
    background-color: white;
  }
}
