// // Place all the styles related to the static_pages controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/
//VARIABLES
//colors
$accent-color1: #cc3755;
$accent-color2: #2ab1cc;
$accent-color3: #e9ca80;

//BOX MODEL
* {
	box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
}

.content-alert {
	position: absolute;
	z-index: 1;
	top: 100px;
	left: 50px;

	.alert {
		display: block;
	}
}
.notice,
.alert {
	display: inline-block;
}

.indicator-container {
	position: relative;
	top: 80px;
}

.carousel-image {
	margin: 0 auto;
}

.carousel-caption {
	bottom: -4%;
}

.container-own {
  padding-top: 100px;
  padding-bottom: 120px;
  min-height: 100vh;
}

.content {
  width: 100%;
  margin: 0 auto;
  padding: 20px 10px;

	p {
		margin: 20px 0px;
		padding: 0px 10px;
	}
}

.shop-title {
	position: relative;
	top: 50vh;
}

.landing-page {
  display: relative;
  height: 100vh;
  width: 100%;
}

.centered-item {
  width: 33%;
  display: block;
  margin: 0 auto;
}

.responsive-img-50 {
  max-width: 50%;
  padding: 50px;
  margin: 0 auto;
}

.responsive-img-100 {
  width: 100%;
}

footer {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60px;
}

.hideSmall {
  display: none;
}

.showSmall {
  display: inline;
}

ul {
  margin: 0;
  padding: 10px 0px;
}

.form label {
  display: inline-block;
}

//READY-TO-USE ELEMENTS
.navigation {
  position: relative;
  left: 0;
  background-color: $accent-color1;
  width: 100%;
  height: 60px;

  p {
    margin: 0;
  }
}

.navigationTop {
  position: fixed;
  top: 0;
  z-index: 1;
}

.navigation {
  #links {
    float: right;
  }
  #brand {
    float: left;
  }
  #dropdown {
    float: right;
  }

  #links, #brand {
    display: inline-block;
  }

	#links, #brand, #dropdown {
    li {
      padding: 10px;
      list-style: none;
    }

		.form-group {
			padding: 0px;
		}

    #links li,
    #brand li {
      float: left;
    }
  }

	#brand, #dropdown {
    position: relative;
    margin: 0;
    padding: 10px 0px;
}

	#links {
		position: relative;
		margin: 0;
		padding: 5px 0px;
	}

	.label-tag-left {
		float: left;
		padding: 7px;
		color: white;
		font-weight: 100;
	}

  a, a:visited {
    color: white;
    text-decoration: none
  }

	a:hover {
    background-color: inherit;
    font-size: 1.2em;
  }
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 10px;
    right: -10px;
    background-color: $accent-color2;
    z-index: 1;
    padding: 10px;
    min-width: 160px;
    li {
      margin: 0;
    }
}

.dropdown:hover .dropdown-content {
    display: block;
}

//TYPOGRAPHY
h1 {
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

p,
a,
h2,
td {
  font-family: 'Quicksand', sans-serif;
}

h2 {
	font-size: 1.8em;
}

p {
	font-size: 1.5em;
}

#tiny {
	font-size: 1em;
	display: inline;
}

.centered-text {
  text-align: center;
}

footer {
  text-align: center;
  color: white;
  p {
    margin: 0;
    padding: 20px;
  }
}

#shop-title2 {
  color: $accent-color1;
}

.hideSmall {
  font-size: 10em;
}

.showSmall {
  font-size: 5em;
}

//VISUAL
body {
  background-color: $accent-color2;
}

.shadow {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.opaque-bg {
	background-color: rgba(255,255,255, 0.8);
	border-radius: 20px;
}

#shop-title {
  background-color: $accent-color2;
}

#shop-title2 {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

footer {
  background-color: $accent-color1;
}

li {
  list-style: none;
  text-align: center;
}

.carousel-control.right,
.carousel-control.right a,
.carousel-control.left,
.carousel-control.left a {
	background-image: none;
	background-color: transparent;
}

.bg-setting {
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.landing-page {
	background-image: image-url('156H.jpg');
}
.style2 {
	background-image: image-url('330H.jpg');
}
.style3 {
	background-image: image-url('385H.jpg');
}

.style4 {
	background-image: image-url('353H.jpg');
}

.style6 {
	background-image: image-url('332H.jpg');
}

@media only screen and (max-width: 771px) {
  #links li {
    display: none;
  }

	.navigation .label-tag-left {
		text-align: center;
		float: none;
	}

  #dropdown {
    display: inline-block;
  }

	.shop-title {
		min-width: 90%;
		margin: 0 auto;
		padding: 35px;
	}

	.showSmall {
		display: block;
	}
}

@media (min-width : 772px) {
  #links li {
      display: inline-block;
  }

  #dropdown {
    display: none;
  }

  .hideSmall {
    display: inline;
  }

  .showSmall {
    display: none;
  }

	.shop-title {
		padding: 50px;
		margin: 0px 10px;
	}

	#shop-title {
	  left: 10px;
	  padding: 50px;
	}

	#shop-title2 {
	  float: right;
	}
}
