<h2>Add a review:</h2>
<p>
  <%= form_for([@product, @product.comments.build], remote: true) do |f| %>
    <p class="product-p"><%= f.label :body, "Comments" %></p>
    <%= f.text_area :body, :class => 'form-control' %>
    <div class="rating"></div>
    <%= f.submit "Submit", :class => "btn btn-default" %>
  <% end %>
</p>
