<% cache product do %>
  <div class="col-xs-6 col-md-4">
    <div class="thumbnail">
      <%=link_to image_tag(product.image_url), product%>
      <h2><%= link_to product.name, product%></h2>
    </div>
  </div>
<% end %>
