<div class="container-own bg-setting style style6">
  <div class="content opaque-bg">
    <h2 class="centered-text">Editing Product</h2>
    <div class="centered-item">
      <%= render 'form', product: @product %>
      <%= link_to 'Show', @product %> |
      <%= link_to 'Back', products_path %>
    </div><!--end centered-item-->
  </div><!--end content-->
</div><!--end container-->
