<div class="container-own bg-setting style style5">
  <div class="content">
    <p id="notice"><%= notice %></p>
    <%= render @products %>
  </div><!--end content-->
  <div class="content">
    <p class="centered-text">
      <%= link_to 'New Product', new_product_path %>
    </p>
  </div><!--end content-->
</div><!--end container-->
